.features-section {
  background-color: #f5efef;
  text-align: center;
  padding: 8% 0 8% 0;
}

.features-icon {
  color: #335d2d;
}

.features-icon:hover {
  color: #7ea04d;
}

h4 {
  margin: 8% 0 5% 0;
  position: relative;
  align-items: center;
}

.about-img {
  height: 300px;
  width: 300px;
  margin-bottom: 8%;
}

.about-h1 {
  text-align: center;
  margin-bottom: 8%;
}

.about-col {
  text-align: center;
}

.about-text {
  padding-top: 15%;
}

.about-section {
  background-color: #7ea04d;
  height: 40rem;
}

.about-container {
  position: relative;
  top: 100px;
  bottom: 100px;
}

.carousel-section {
  text-align: center;
  background-color: #393e46;
  height: 50em;
}

.carousel-img {
  height: 35em;
}

.carousel-title {
  position: relative;
  padding-top: 5%;
  color: #f5efef;
}