.title-section {
  background-image: url(./../img/SecretGarden.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40rem;
  color: #f5efef;
  text-align: center;
}

.title {
  font-size: 5rem;
  padding-top: 10%;
}

.under-title {
  position: relative;
  padding-top: 5%;
}